
@{
    ViewBag.Title = "Index";
}

<h2 style="color: white;">Administration</h2>

<a class="btn btn-default btn-success href=" @Html.ActionLink("Create", "Create", "Toys")</a>
<a class="btn btn-default btn-danger href=" @Html.ActionLink("Delete", "Delete", "Toys")</a><br /><br />
<a class="btn btn-default btn-danger href=" @Html.ActionLink("Delete", "Delete", "Toys")</a>


